/* Usar fuentes del tema gamer */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Orbitron:wght@500;700&display=swap');

/* Fondo general */
body {
    background-color: #000;
    color: #fff;
    padding-bottom: 100px; /* espacio para footer */
    font-family: 'Roboto', sans-serif;
}

/* Encabezado gamer */
h2 {
    font-family: 'Orbitron', sans-serif;
    color: #1E90FF;
    letter-spacing: 2px;
    text-shadow: 0 0 8px rgba(30, 144, 255, .7);
}

/* Tarjeta Gamer */
.card {
    background-color: #111111 !important;
    border: 2px solid #1E90FF;
    border-radius: 10px;
    color: #D3D3D3;
    box-shadow: 0px 0px 12px rgba(30,144,255, 0.5);
}

/* Tabs estilo gamer */
.nav-tabs {
    border-bottom: 2px solid #1E90FF;
}

.nav-link {
    background-color: transparent !important;
    color: #39FF14 !important;
    border: none !important;
    font-weight: bold;
    transition: 0.3s;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #1E90FF !important;
    transform: scale(1.05);
}

.nav-link.active {
    color: #000 !important;
    background-color: #39FF14 !important;
    text-shadow: none;
    border-radius: 5px;
}

/* Botón de cerrar sesión */
.btn-outline-danger {
    background-color: transparent !important;
    border: 2px solid #FF3131 !important;
    color: #FF3131 !important;
    font-weight: bold;
    transition: .3s ease-in-out;
}

.btn-outline-danger:hover {
    background-color: #FF3131 !important;
    color: #fff !important;
    transform: scale(1.05);
}

/* Estado de carga */
.text-center {
    font-family: 'Orbitron', sans-serif;
    color: #D3D3D3;
}
